// Código de Nav acá
@background-color: @nav-bg;
@navigationBorder: 1px solid #e7e7e7;;
@navPosition: left;
@fontfamily: @nav-font;
.navbar{    
    .flex(column, center, center);
    padding: 15px;
    background-color: @nav-bg;
    font-size: 15px;
    color: @fontfamily;
    text-decoration: none;
}
.navbar ul{
    .flex(row, space-around, center);
    padding-top: 10px;
    width: 40%;

    @media @phone{
        width: 80%;
    }
}
.navbar li{
    float: @navPosition;   
    display: inline; 
}
.navbar a:link, a:visited{
    display: flex;
    padding: 10px;
    background-color: @background-color;
    text-decoration: none;
    color: #22283B;

}
li a:hover{
    background-color: rgb(121, 99, 99);
}
