// Código de Nav acá
@background-color: #f3f3f3;
@navigationBorder: 1px solid #e7e7e7;;
@navPosition: left;
@fontfamily: 'Ubuntu', sans-serif;
.navbar{
    
    background-color: @background-color;
    border: 1px double #e0e0e0;
    border-width: 1px 0;
    list-style: none;
    text-align: center;
    padding: 20px;
    margin: 5px;
    justify-content: center;
    font-family: @fontfamily;
    font-size: 1.4rem;
    font-weight: bold;
}
.navbar ul{
    margin:0;
    display: inline-block;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}
.navbar li{
    float: @navPosition;   
    display: inline; 
}
.navbar a:link, a:visited{
    display: inline-block;
    padding: 10px;
    background-color: @background-color;
    text-decoration: none;
    color: #22283B;

}
li a:hover{
    background-color: rgb(121, 99, 99);
}
